.arrowComp {
  color: green;
  text-align: center;
  border: 1px green solid;
  border-radius: 5px;
}

.classComp {
  color: red;
  text-align: center;
  border: 1px red solid;
  border-radius: 5px;
}
